.size {
  height: 100%;
  width: 100%;
}

.dashboard {
  height: 100vh;

  display: flex;
  flex-direction: row;
}

.dashboard-main {
  width: 100%;
  height: 100%;
  // background-color: blue;
  overflow-y: scroll;
}

/* Sidebar */
.dashboard-sidebar {
  // TODO why does min-/max- setting work, but width doesn't?
  // width: 200px;
  min-width: 200px;
  max-width: 200px;

  height: 100%;
  // background-color: red;
  border-right: 2px solid black;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  >* {
    height: fit-content;
  }
}

.visible-assets,
.visible-projections {
  border-bottom: 1px solid black;
  // padding: 0.5rem;
  margin: 0.5rem;
}

.visible-assets-heading,
.visible-projections-heading {
  margin: 0;
}

.visible-assets-checkbox-filter {
  width: 145px;
  margin-left: auto;
  margin-right: auto;
}

.visible-assets-inputs,
.visible-projections-inputs {
  padding-left: 1rem;

  max-height: 400px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.visible-assets-label,
.visible-projections-label {
  display: flex;
}

.visible-assets-input,
.visible-projections-input {
  margin: 0.25rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  // align-items: center;
}

.visible-assets-input-checkbox,
.visible-projections-input-checkbox {
  margin-right: 0.25rem;

  flex: none;
}