.size {
  height: 100%;
  width: 100%;
}

.dashboard {
  height: 100vh;

  display: flex;
  flex-direction: row;
}

.dashboard-main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

/* Sidebar */
.dashboard-sidebar {
  // TODO why does min-/max- setting work, but width doesn't?
  // width: 200px;
  min-width: 200px;
  max-width: 200px;

  height: 100%;
  border-right: 2px solid black;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  >* {
    height: fit-content;
  }
}

.visible-assets,
.visible-projections {
  border-bottom: 1px solid black;
  margin: 0.5rem;
}

.visible-assets {
  display: flex;
  flex-direction: column;

  &>* {
    margin-bottom: 0.5rem;
  }

  &>*:last-child {
    margin-bottom: 0;
  }
}

.visible-assets-heading,
.visible-projections-heading {
  margin: 0 0 0.5rem 0;
}

.visible-assets-bulk-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.visible-assets-inputs,
.visible-projections-inputs {
  margin: 0.5rem 0 0.5rem 0;
  padding-left: 1rem;

  max-height: 400px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.visible-assets-input,
.visible-projections-input {
  margin: 0.25rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.visible-assets-input-checkbox,
.visible-projections-input-checkbox {
  margin-right: 0.25rem;
}